TELEGRAM_BOT_TOKEN=8626944586:AAG__EYBwv_jbQoN9jDhTBekfj3DwhY_lT0

TELEGRAM_ADMIN_IDS=ID: 1993496447

REFERRAL_URL=https://www.toobit.com/fa/r?i=TMba0V

REFERRAL_CODE=TMba0V

POLL_SECONDS=45

MIN_SCORE=70

MIN_RR=2

SIGNAL_DB=telegram_signal_bot.sqlite3
